*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    color: #fff;
    background-color: rgba(7, 10, 27, 1);
    font-size: 16px;
    line-height: 19px;
}

ul{
    list-style: none;  
}

.header {
    background: rgba(7, 10, 27, 1);
}
.container {
    width: 1220px;
    padding: 10px;
    margin: auto;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.header__nav {
    background: rgba(7, 10, 27, 1);
    border: none;
    cursor: pointer;
}


.list__link {
    display: flex;
}

.link__a-img:hover{
    border-radius: 50%;
    background: rgba(193, 161, 210, 1);
}

.title__content {
    background-image: url(../images/title-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.title__h1 {
    font-size: 72px;
    line-height: 86px;
    padding-bottom: 5px;
}
.title__text {
    padding-bottom: 49px;
}
.logo__merc1{
    position: relative;
}
.logo__merc{
    position: absolute;
    top: -23px;
}


.section__concept {
    margin: 134px 0px 141px 300px;
    display: flex;
    flex-direction: column
}
.section__concept-title {
    font-size: 18px;
    line-height: 22px;
    color: rgba(244, 2, 162, 1);
    margin-bottom: 25px;
}
.section__concept__text {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
}
.section__concept-img {
    width: 900px;
}
.section__premier {
    display: flex;
    justify-content: space-between;
    margin-bottom: 153px;
}
.section__premier-title {
    font-size: 18px;
    line-height: 22px;
    color: rgba(244, 2, 162, 1);
    margin-bottom: 25px;
}
.section__premier-text {
    width: 570px;
    margin-bottom: 25px;
    font-size: 16px;
}
.section__premier-img {
    display: block;
    margin-bottom: 25px;
}
.section__premier-link {
    width: 100%;
}
.section__premier-btn {
    width: 100%;
    height: 50px;
    background: rgba(7, 10, 27, 1);
    border: 1px solid rgba(244, 2, 162, 1);
    color: rgba(244, 2, 162, 1);
    cursor: pointer;
    font-weight: bold;
}
.section__premier-btn:hover{
    border-color: rgba(83, 161, 203, 1);
    color: rgba(83, 161, 203, 1);
}
.section__premier-foto {
    margin-bottom: 25px;
}
.section__video {
    margin-bottom: 150px;
}
.section__video-foto {
    margin-bottom: 25px;
}
.section__video-link {
    width: 100%;
    text-decoration: none;
}
.section__video-btn {
    width: 100%;
    height: 50px;
    background: rgba(7, 10, 27, 1);
    border: 1px solid rgba(244, 2, 162, 1);
    color: rgba(244, 2, 162, 1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.section__video-btn:hover{
    border-color: rgba(83, 161, 203, 1);
    color: rgba(83, 161, 203, 1);
}
.section__video-btn:hover path{
    fill:rgba(83, 161, 203, 1);
}
.play {
    padding-right: 9px;
}

.play__text{
    font-size: 18px;
    line-height: 22px;
    margin: 1px 0 0 9px;
}
.section__interior {
    display: flex;
    justify-content: space-between;
}

.section__interior-title {
    font-size: 18px;
    line-height: 22px;
    color: rgba(244, 2, 162, 1);
    margin-bottom: 25px;
}
.section__interior-text{
    margin-bottom: 25px;
    width: 255px;
}
.section__exterior-content {
    display: flex;
    flex-direction: column;
}
.section__exterior-foto {
    margin-bottom: 108px;
}
.exterior__box {
    display: flex;
    justify-content: space-between;
}
.exterior__text {
    width: 255px
}

.design-slider {
    
}
.slick-initialized .slick-slide {
    display: block;
    width: 406px;
}
.design-slider__item {
    margin: 0 30px 25px;
}
.slick-track{
    margin-left: -40px;
}
.arrow{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    bottom: 0;
    left: 50%;
}
.arrow-left{
    transform: translateX(-80px);
}
.arrow-right{
    transform: translateX(30px);
}
.design__box {
    max-width: 590px;
    padding: 0 10px;
    display: flex;
    gap: 60px;
    margin: 150px auto;
}
.design__box-column {
    width: 255px;
}
.design__box-text {
    margin-bottom: 25px;
}
.avtr{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__content {
    margin: 140px 0;
}
.footer__link {
    color: #fff;
    text-decoration: none;
}